<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.MVC.Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>com.MVC.Controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.MVC.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPersonnel</servlet-name>
        <servlet-class>com.MVC.Controller.AddPersonnel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccount</servlet-name>
        <servlet-class>com.MVC.Controller.DeactivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>com.MVC.Controller.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddARB</servlet-name>
        <servlet-class>com.MVC.Controller.AddARB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddARBO</servlet-name>
        <servlet-class>com.MVC.Controller.AddARBO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportARBO</servlet-name>
        <servlet-class>com.MVC.Controller.ImportARBO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportARB</servlet-name>
        <servlet-class>com.MVC.Controller.ImportARB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinceRefresh</servlet-name>
        <servlet-class>com.MVC.Controller.ProvinceRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPersonalInformation</servlet-name>
        <servlet-class>com.MVC.Controller.EditPersonalInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>com.MVC.Controller.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvOfficeRefresh</servlet-name>
        <servlet-class>com.MVC.Controller.ProvOfficeRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewARBO</servlet-name>
        <servlet-class>com.MVC.Controller.ViewARBO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedAddARB</servlet-name>
        <servlet-class>com.MVC.Controller.ProceedAddARB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityRefresh</servlet-name>
        <servlet-class>com.MVC.Controller.CityRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ARBONameRefresh</servlet-name>
        <servlet-class>com.MVC.Controller.ARBONameRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectARBORequest</servlet-name>
        <servlet-class>com.MVC.Controller.SelectARBORequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestLoan</servlet-name>
        <servlet-class>com.MVC.Controller.RequestLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCAPDEVProposal</servlet-name>
        <servlet-class>com.MVC.Controller.CreateCAPDEVProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCAPDEVProposal</servlet-name>
        <servlet-class>com.MVC.Controller.SendCAPDEVProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCAPDEVProposal</servlet-name>
        <servlet-class>com.MVC.Controller.ViewCAPDEVProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveCAPDEVProposal</servlet-name>
        <servlet-class>com.MVC.Controller.ApproveCAPDEVProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFarmPlan</servlet-name>
        <servlet-class>com.MVC.Controller.SendFarmPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBusinessPlan</servlet-name>
        <servlet-class>com.MVC.Controller.SendBusinessPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBankRequirements</servlet-name>
        <servlet-class>com.MVC.Controller.SendBankRequirements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRequirements</servlet-name>
        <servlet-class>com.MVC.Controller.CheckRequirements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndorseAPCPRequest</servlet-name>
        <servlet-class>com.MVC.Controller.EndorseAPCPRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearAPCPRequest</servlet-name>
        <servlet-class>com.MVC.Controller.ClearAPCPRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenEndorsedRequest</servlet-name>
        <servlet-class>com.MVC.Controller.OpenEndorsedRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAPCPRequest</servlet-name>
        <servlet-class>com.MVC.Controller.ApproveAPCPRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProvincialOffice</servlet-name>
        <servlet-class>com.MVC.Controller.AddProvincialOffice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProvincialOffice</servlet-name>
        <servlet-class>com.MVC.Controller.EditProvincialOffice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastDueReason</servlet-name>
        <servlet-class>com.MVC.Controller.AddPastDueReason</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPastDueReason</servlet-name>
        <servlet-class>com.MVC.Controller.EditPastDueReason</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulePreRelease</servlet-name>
        <servlet-class>com.MVC.Controller.SchedulePreRelease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSchedulePreRelease</servlet-name>
        <servlet-class>com.MVC.Controller.SendSchedulePreRelease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestLoanAccess</servlet-name>
        <servlet-class>com.MVC.Controller.RequestLoanAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNewAccessingARBO</servlet-name>
        <servlet-class>com.MVC.Controller.ViewNewAccessingARBO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveNewAccessing</servlet-name>
        <servlet-class>com.MVC.Controller.ApproveNewAccessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisapproveNewAccessing</servlet-name>
        <servlet-class>com.MVC.Controller.DisapproveNewAccessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCAPDEVActivity</servlet-name>
        <servlet-class>com.MVC.Controller.AddCAPDEVActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCAPDEVActivity</servlet-name>
        <servlet-class>com.MVC.Controller.EditCAPDEVActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedAssignPointPerson</servlet-name>
        <servlet-class>com.MVC.Controller.ProceedAssignPointPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignPointPerson</servlet-name>
        <servlet-class>com.MVC.Controller.AssignPointPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorCAPDEVAttendance</servlet-name>
        <servlet-class>com.MVC.Controller.MonitorCAPDEVAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordActivityAssessment</servlet-name>
        <servlet-class>com.MVC.Controller.RecordActivityAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCAPDEVAssessment</servlet-name>
        <servlet-class>com.MVC.Controller.SendCAPDEVAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewCAPDEVAssessment</servlet-name>
        <servlet-class>com.MVC.Controller.ReviewCAPDEVAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordPreReleaseAssessment</servlet-name>
        <servlet-class>com.MVC.Controller.RecordPreReleaseAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorPreReleaseAttendance</servlet-name>
        <servlet-class>com.MVC.Controller.MonitorPreReleaseAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordPastDueAccount</servlet-name>
        <servlet-class>com.MVC.Controller.RecordPastDueAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordRequestRelease</servlet-name>
        <servlet-class>com.MVC.Controller.RecordRequestRelease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordRepayment</servlet-name>
        <servlet-class>com.MVC.Controller.RecordRepayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordDisbursement</servlet-name>
        <servlet-class>com.MVC.Controller.RecordDisbursement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorRelease</servlet-name>
        <servlet-class>com.MVC.Controller.MonitorRelease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorDisbursement</servlet-name>
        <servlet-class>com.MVC.Controller.MonitorDisbursement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportRelease</servlet-name>
        <servlet-class>com.MVC.Controller.ImportRelease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportRepayment</servlet-name>
        <servlet-class>com.MVC.Controller.ImportRepayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportDisbursement</servlet-name>
        <servlet-class>com.MVC.Controller.ImportDisbursement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportPastDueAccount</servlet-name>
        <servlet-class>com.MVC.Controller.ImportPastDueAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCAPDEVProposals</servlet-name>
        <servlet-class>com.MVC.Controller.ShowAllCAPDEVProposals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettlePastDueAccount</servlet-name>
        <servlet-class>com.MVC.Controller.SettlePastDueAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewARB</servlet-name>
        <servlet-class>com.MVC.Controller.ViewARB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvaluation</servlet-name>
        <servlet-class>com.MVC.Controller.AddEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEvaluation</servlet-name>
        <servlet-class>com.MVC.Controller.ProcessEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterLoanRequests</servlet-name>
        <servlet-class>com.MVC.Controller.FilterLoanRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCAPDEVRequests</servlet-name>
        <servlet-class>com.MVC.Controller.FilterCAPDEVRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegionalCAPDEVProposals</servlet-name>
        <servlet-class>com.MVC.Controller.FilterRegionalCAPDEVProposals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionalCityFilterRefresh</servlet-name>
        <servlet-class>com.MVC.Controller.RegionalCityFilterRefresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCAPDEVRequestsCCP</servlet-name>
        <servlet-class>com.MVC.Controller.FilterCAPDEVRequestsCCP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>com.MVC.Controller.ViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSite</servlet-name>
        <servlet-class>com.MVC.Controller.ViewSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedClusterARB</servlet-name>
        <servlet-class>com.MVC.Controller.ProceedClusterARB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClusterARB</servlet-name>
        <servlet-class>com.MVC.Controller.ClusterARB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPersonnel</servlet-name>
        <url-pattern>/AddPersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccount</servlet-name>
        <url-pattern>/DeactivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddARB</servlet-name>
        <url-pattern>/AddARB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddARBO</servlet-name>
        <url-pattern>/AddARBO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportARBO</servlet-name>
        <url-pattern>/ImportARBO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportARB</servlet-name>
        <url-pattern>/ImportARB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinceRefresh</servlet-name>
        <url-pattern>/ProvinceRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPersonalInformation</servlet-name>
        <url-pattern>/EditPersonalInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/EditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvOfficeRefresh</servlet-name>
        <url-pattern>/ProvOfficeRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewARBO</servlet-name>
        <url-pattern>/ViewARBO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedAddARB</servlet-name>
        <url-pattern>/ProceedAddARB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityRefresh</servlet-name>
        <url-pattern>/CityRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ARBONameRefresh</servlet-name>
        <url-pattern>/ARBONameRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectARBORequest</servlet-name>
        <url-pattern>/SelectARBORequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestLoan</servlet-name>
        <url-pattern>/RequestLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCAPDEVProposal</servlet-name>
        <url-pattern>/CreateCAPDEVProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCAPDEVProposal</servlet-name>
        <url-pattern>/SendCAPDEVProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCAPDEVProposal</servlet-name>
        <url-pattern>/ViewCAPDEVProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveCAPDEVProposal</servlet-name>
        <url-pattern>/ApproveCAPDEVProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFarmPlan</servlet-name>
        <url-pattern>/SendFarmPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendBusinessPlan</servlet-name>
        <url-pattern>/SendBusinessPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendBankRequirements</servlet-name>
        <url-pattern>/SendBankRequirements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRequirements</servlet-name>
        <url-pattern>/CheckRequirements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndorseAPCPRequest</servlet-name>
        <url-pattern>/EndorseAPCPRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearAPCPRequest</servlet-name>
        <url-pattern>/ClearAPCPRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenEndorsedRequest</servlet-name>
        <url-pattern>/OpenEndorsedRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAPCPRequest</servlet-name>
        <url-pattern>/ApproveAPCPRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProvincialOffice</servlet-name>
        <url-pattern>/AddProvincialOffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProvincialOffice</servlet-name>
        <url-pattern>/EditProvincialOffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastDueReason</servlet-name>
        <url-pattern>/AddPastDueReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPastDueReason</servlet-name>
        <url-pattern>/EditPastDueReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulePreRelease</servlet-name>
        <url-pattern>/SchedulePreRelease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSchedulePreRelease</servlet-name>
        <url-pattern>/SendSchedulePreRelease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestLoanAccess</servlet-name>
        <url-pattern>/RequestLoanAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNewAccessingARBO</servlet-name>
        <url-pattern>/ViewNewAccessingARBO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveNewAccessing</servlet-name>
        <url-pattern>/ApproveNewAccessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisapproveNewAccessing</servlet-name>
        <url-pattern>/DisapproveNewAccessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCAPDEVActivity</servlet-name>
        <url-pattern>/AddCAPDEVActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCAPDEVActivity</servlet-name>
        <url-pattern>/EditCAPDEVActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedAssignPointPerson</servlet-name>
        <url-pattern>/ProceedAssignPointPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignPointPerson</servlet-name>
        <url-pattern>/AssignPointPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorCAPDEVAttendance</servlet-name>
        <url-pattern>/MonitorCAPDEVAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordActivityAssessment</servlet-name>
        <url-pattern>/RecordActivityAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCAPDEVAssessment</servlet-name>
        <url-pattern>/SendCAPDEVAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewCAPDEVAssessment</servlet-name>
        <url-pattern>/ReviewCAPDEVAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordPreReleaseAssessment</servlet-name>
        <url-pattern>/RecordPreReleaseAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorPreReleaseAttendance</servlet-name>
        <url-pattern>/MonitorPreReleaseAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordPastDueAccount</servlet-name>
        <url-pattern>/RecordPastDueAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordRequestRelease</servlet-name>
        <url-pattern>/RecordRequestRelease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordRepayment</servlet-name>
        <url-pattern>/RecordRepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordDisbursement</servlet-name>
        <url-pattern>/RecordDisbursement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorRelease</servlet-name>
        <url-pattern>/MonitorRelease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorDisbursement</servlet-name>
        <url-pattern>/MonitorDisbursement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportRelease</servlet-name>
        <url-pattern>/ImportRelease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportRepayment</servlet-name>
        <url-pattern>/ImportRepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportDisbursement</servlet-name>
        <url-pattern>/ImportDisbursement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportPastDueAccount</servlet-name>
        <url-pattern>/ImportPastDueAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCAPDEVProposals</servlet-name>
        <url-pattern>/ShowAllCAPDEVProposals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettlePastDueAccount</servlet-name>
        <url-pattern>/SettlePastDueAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewARB</servlet-name>
        <url-pattern>/ViewARB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvaluation</servlet-name>
        <url-pattern>/AddEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEvaluation</servlet-name>
        <url-pattern>/ProcessEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterLoanRequests</servlet-name>
        <url-pattern>/FilterLoanRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCAPDEVRequests</servlet-name>
        <url-pattern>/FilterCAPDEVRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegionalCAPDEVProposals</servlet-name>
        <url-pattern>/FilterRegionalCAPDEVProposals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionalCityFilterRefresh</servlet-name>
        <url-pattern>/RegionalCityFilterRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCAPDEVRequestsCCP</servlet-name>
        <url-pattern>/FilterCAPDEVRequestsCCP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSite</servlet-name>
        <url-pattern>/ViewSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedClusterARB</servlet-name>
        <url-pattern>/ProceedClusterARB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClusterARB</servlet-name>
        <url-pattern>/ClusterARB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
